@model IEnumerable<AjaxCoreApp.Models.Product>

@{
    ViewData["Title"] = "Product List";
}

<h2 class="text-center">Product List</h2>

<p>
  <a asp-action="Create">Create New</a>
</p>
<hr />
<form class="form-horizontal" asp-action="Index" method="get">
  <div class="form-group">
    <label class="col-md-2 control-label">Find by name : </label>
    <div class="col-md-4">
      <input type="text" name="SearchString" value="@ViewData["currentFilter"]" class="form-control" placeholder="Searching...">
    </div>
    <div class="col-md-6">
      <button class="btn btn-primary">Submit</button>
    </div>
  </div>

</form>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
